<!doctype html>
<html lang="pt-br">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet"  href="{{url_for('static',filename='estilos.css')}}">
    <link rel="stylesheet"  href="{{url_for('static',filename='java.js')}}">
    
    <title>HOME</title>

    </head>

    <body>
        <!-- Header -->
        <header class="centro">
            <div class="container-fluid">
                <div class="row">
                    <!--Imagen Logo-->
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="/">
                                <img src="../static/img/templatemo_logo.png"  class="logo">
                            </a>
                        </div>
                    </div>
                    <!--barra de navegaçao-->
                    <!--justify-content-end -->
                    <div class="col-md-9">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link nav-item active onde menu" href="/" >HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Cursos">CURSOS</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link " href="detalhedecurso.html">DETALHE</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link " href="/Disciplina">DISCIPLINA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/Noticias">NOTÍCIA</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--Banner___________________________________________________________________-->
        <div id="carouselExampleControls " class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img src="../static/img/img_1_blank.jpg" class="d-block w-100 banner img-fluid" alt="Banner da FIND">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/img_2_blank.jpg" class="d-block w-100 banner img-fluid" alt="...">
                </div>
            </div>
        </div>
        <!-- FIM Banner___________________________________________________________________-->
        <div class="espaco_inicio">
            <hr>
            <h1 class="objeto_centro centro1 centro2">O QUE PODEMOS FAZER PELO O SEU FUTURO !!!</h1>
            <div class="container-fluid">
                <div class="row objeto_centro ">
                    <div class="col-md-6">
                       
                            <img src="../static/img/graduation-cap-solid.svg" class="icone ">
                        
                            <h1 class=" espaco_texto">APRENDER</h1>
                        <p class="espaco_text">
                                Aprender é a única coisa que a mente nunca se cansa, nunca tem medo e nunca se arrepende
                        </p>
                    </div>
                    <div class="col-md-6 ">
                            <img src="../static/img/envio.svg" class="icone">
                            <h1  class=" espaco_texto">TECNOLOGIA</h1>
                            <p class="espaco_text">
                                    O futuro dos seres humanos dependem da educação. Toda tecnologia e sua adaptação trabalhada hoje forma uma série de caminhos para o ser de amanhã percorrer
                            </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
        <!-- Primeiro Video  -->
            <div class="row caixa">
                <div class="col-md-6">
                    <h2 class="titulo">FACULDADE FIND</h2>
                    <p class="tamanho">Vídeo Institucional <br>ENTRE... <br> Conheça a nossa metodologia de ensinar </p>
                </div>
                    <!--Video-->
                <div class="col-md-6">
                    <iframe  src="https://www.youtube.com/embed/qOylTJ6qHwg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        <!--FIM do Video -->
        <!--Segundo Curso-->
            <div class="row caixa2">
                <div class="col-md-5">
                    <img class="padrao_caixa img-fluid" src="../static/img/curso.jpg"alt="Curso ">
                </div>
                <div class="col-md-7 ">
                    <div class="espaco">
                        <hr class="separa_caixa">
                        <h1 class="objeto_centro">CURSO</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                        <a href="/Cursos" class="linktira"><button type="submit" class="btn btn-outline-dark ">SAIBA MAIS</button></a>     
                             
                    </div>  
                </div>
            </div>
            
            <!--FIM do Curos-->
        </div>
    <!--Um pouco de nossa histora-->
        <div class="row caixa2">   
            <div class="col-md-7 ">
                <div class="espaco">
                    <hr class="separa_caixa">
                    <h1 class="objeto_centro">Um pouco da nossa historia </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>  
            </div>

            <div class="col-md-5">
                <img class="padrao_caixa img-fluid" src="../static/img/empresa.jpg"alt="Curso ">
            </div>
        </div>
    <!--terceiro Noticia  -->
        <div class="col-md-12 noticia">
            <hr class="intero">
            <h1 class="objeto_centro">NOTÍCIAS</h1><br>
        </div>
        
        <div class="container-fluid">
            <div class="row caixa3 objeto_centro">
                <!--Primeiro CARD-->
                <div class="col-md-4">
                    <div class="card">
                        <img src="../static/img/game (1).jpg" class="card-img-top" alt="...">
                           
                        <div class="card-body">
                            <h5 class="card-title">Campeonato de CS</h5>
                            <p class="card-text"> Counter Strike: Global Offensive (Feminino).<br>Novidades</p>
                            <a href="/Noticias" class="btn btn-primary">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
                <!--Segundo CARD-->
                <div class="col-md-4">
                    <div class="card" >
                        <img src="../static/img/trabalho.jpg" class="card-img-top" alt="trabalho">
        
                        <div class="card-body">
                            <h5 class="card-title">Startup</h5>
                            <p class="card-text">Profissional que as startups mais desejam.</p><br>
                            <a href="/Noticias" class="btn btn-primary">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>

                <!--Terceiro CARD-->
                <div class="col-md-4">
                    <div class="card">
                        <img src="../static/img/codigo.jpg" class="card-img-top" alt="codigo">
                
                        <div class="card-body">
                            <h5 class="card-title">Tecnologia</h5>
                            <p class="card-text">Veja profissões que estarão em alta em 2019, segundo empresas de recrutamento.</p>
                            <a href="/Noticias" class="btn btn-primary">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!--Fim da noticia-->
        <footer>
            <h6 class="letra">TODOS OS DIREITO RESERVADO A FIND ©2019</h6>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--Tempo de passar o banner para outro-->
    </body>
</html>